@model MyWebSite.Data.Models.ContactData

@section styles{
    <link rel="stylesheet" href="~/css/Contact.css" />
}

<br/>
<br/>
<br/>

<section class="mb-4">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-4">@Model.Title</h2>
        <p class="text-center w-responsive mx-auto mb-5">
            @Model.SubTitle
        </p>
        <h5 class="text-danger">@ViewBag.Error</h5>
        <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
        <form id="contact-form" name="contact-form" method="post" enctype="multipart/form-data" action="Message">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <!-- target="dummyframe" -->
            <div class="row">
                <div class="col-md-6">
                    <div class="md-form mb-0">
                        <input type="text" id="firstname" name="FirstName" class="form-control">
                        <label for="firstname" class="">First Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="md-form mb-0">
                        <input type="text" id="lastname" name="LastName" class="form-control">
                        <label for="lastname" class="">Last Name</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form mb-0">
                        <input type="text" id="email" name="Email" class="form-control">
                        <label for="email" class="">Email</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form mb-0">
                        <input type="text" id="subject" name="Subject" class="form-control">
                        <label for="subject" class="">Subject</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form">
                        <textarea type="text" id="message" name="MyMessage" rows="3" class="form-control md-textarea"></textarea>
                        <label for="message">Your message</label>
                    </div>
                </div>
            </div>
        </form>

        <!-- Google CaptCha -->
        <div>
            <script type="text/javascript">
                var onloadCallback = function () {
                    widgetId1 = grecaptcha.render('contact-captcha', {
                        'sitekey': '6LdE1IgeAAAAAARd-cTTK3LOL8frSfMsqOpYu75Q',
                        'theme': 'light',
                        'callback': function (response) {
                            if (grecaptcha.getResponse() == "") {
                                $('#contact-form-submit').addClass('disabled');
                            } else {
                                $('#contact-form-submit').removeClass('disabled');
                            }
                        },
                        //'theme': 'dark'
                    });
                };
            </script>
            <div id="contact-captcha" class="g-recaptcha"></div>
            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
            </script>
            <br />
        </div>

        <div class="text-center text-md-left">
            <a id="contact-form-submit" class="btn btn-primary disabled" onclick="document.getElementById('contact-form').submit();">Send</a>
        </div>
        <div class="status"></div>
    </div>
</section>

@section Scripts{
    <script src="~/js/Contact.js"></script>
}

@Html.Partial("_ValidationScriptsPartial")