@model System.Collections.Generic.ICollection<MyWebSite.Data.Models.Project>;


@section styles {

    <style>
        body {
            min-width: 539px;
        }

        @@media only screen and (max-width: 760px) {
            .bottom {
                margin-bottom: 33%;
            }
        }

        img {
            width: auto;
            height: auto;
            object-fit: fill;
        }







        .modal {
            padding: 0 !important;
        }

        .modal .modal-dialog {
            width: 80%;
            max-width: none;
            height: auto;
            /*margin: 0;*/
        }

        .modal .modal-content {
            height: auto;
            border: 0;
            border-radius: 0;
        }

        .modal .modal-body {
            overflow-y: auto;
        }
    </style>

}



<br />
<br />
<br />
<h3>Projects</h3>
<hr />





<div class="container" style="margin-top: 5%;">

    @foreach (var project in @Model)
    {
        var img = @project.Images.ToList()[0].ImagePath;




        <div class="row" style="margin-bottom: 11%;">

            <div class="col-xl-6">
                <h4>@project.Title</h4>
                <p>@project.Description</p>
                <a id="details-button"  data-toggle="modal" data-target="#modal-fullscreen-xl" type="button" class="btn btn-light" data-id="@project.ID">Details</a>
            </div>

            <div class="col-xl-6">
                <img class="card-img-top" src="@Url.Content(@img)" alt="Card image cap">
            </div>

        </div>

    }

</div>





<!-- Details Moal -->
<div id="modal-fullscreen-xl" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl"  role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Project Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-details">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>




<br />
<br />
<br />
<hr class="bottom" />







@section Scripts{

    <script>
        $(document).ready(function () {


            // Open Read Ebooks Modal
            $("body").on('click', '#details-button', function () {
                var id = $(this).attr('data-id');
                $.ajax({
                    url: '/Home/_Details/' + id,
                    type: 'GET',
                    success: function (response) {
                        $('.modal-details').html(response);
                    }
                });
            });


        });
    </script>

}