@model System.Collections.Generic.ICollection<MyWebSite.Data.Models.Project>;

<link rel="stylesheet" href="~/lib/DataTables/DataTables-1.11.4/css/dataTables.dataTables.min.css" />
<link rel="stylesheet" href="~/css/Portofolio.css" />

<div style="margin-top: 5%;">
    <input type="text" id="search-input" placeholder="Search">
    <table id="projects-table" width="100%"></table>
</div>

<!-- Details Moal -->
<div id="modal-fullscreen-xl" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Project Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-details">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<div class="bottom" />

@section Scripts{

    <script src="~/js/Portofolio.js"></script>
    <script src="~/lib/DataTables/DataTables-1.11.4/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/DataTables/DataTables-1.11.4/js/jquery.dataTables.min.js"></script>

    <script>

        $(document).ready(function () {

            // Open Read Ebooks Modal
            $("body").on('click', '.details-button', function () {
                var id = $(this).attr('data-id');
                $.ajax({
                    url: '/Home/_Details/' + id,
                    type: 'GET',
                    success: function (response) {
                        $('.modal-details').html(response);
                    }
                });
            });

            $("body").on('click', '.img-button', function () {
                var id = $(this).attr('data-id');
                $.ajax({
                    url: '/Home/_Details/' + id,
                    type: 'GET',
                    success: function (response) {
                        $('.modal-details').html(response);
                    }
                });
            });

            // Fill DataTable 'id=projects-table'

            var dataSet = [];

            @foreach (var item in Model)
            {
                <text>
                    dataSet.push([
                        `
                            <div class="row" style="margin-bottom: 11%;">
                                <div class="col-xl-6">
                                    <h4>${"@item.Title"}</h4>
                                    <p>${"@item.Description"}</p>
                                    <a  class="btn btn-light details-button" data-toggle="modal" data-target="#modal-fullscreen-xl" type="button" data-id="${"@item.ID"}">Details</a>
                                </div>
                                <div class="col-xl-6">
                                    <a class="img-button" data-toggle="modal" data-target="#modal-fullscreen-xl" data-id="${"@item.ID"}">
                                        <img class="card-img-top" src="${"@Url.Content(item.Images.ToList()[0].ImagePath)"}" alt="Card image cap">
                                    </a>
                                </div>
                            </div>
                        `
                    ]);
                </text>
            }

            var table = $('#projects-table').DataTable({
                data: dataSet,
                columns: [
                    null
                ],
                searching: true,
                pageLength: 3,
                bLengthChange: false,
                bSort: false,
                "autoWidth": false,
                "pagingType": "full_numbers",
                "drawCallback": function () {
                    
                }

            });

            $('#search-input').keyup(function () {
                table.search($(this).val()).draw();
            })

        });

    </script>

}