@model System.Collections.Generic.ICollection<MyWebSite.Data.Models.Project>;

<link rel="stylesheet" href="~/lib/DataTables/DataTables-1.11.4/css/dataTables.dataTables.min.css" />
<link rel="stylesheet" href="~/css/Portofolio.css" />

<div style="margin-top: 5%;">
    <input type="text" id="search-input" placeholder="Search">
    <table id="projects-table" width="100%"></table>
</div>

@section Scripts{
    <script src="~/js/Portofolio.js"></script>
    <script>

        $(document).ready(function () {

            // Open Read Ebooks Modal
            $("body").on('click', '.details-button', function () {
                var id = $(this).attr('data-id');
                window.location.href = '/Home/ProjectDetails/' + id;
            });

            $("body").on('click', '.img-button', function () {
                var id = $(this).attr('data-id');
                window.location.href = '/Home/ProjectDetails/' + id;
            });

            // Fill DataTable 'id=projects-table'

            var dataSet = [];

            @foreach (var item in Model)
            {
                var image = item.Images.ToList()[0];
                <text>
                    dataSet.push([
                        `
                            <div class="row" style="margin-bottom: 11%;">
                                <div class="col-xl-6">
                                    <h4>${"@item.Title"}</h4>
                                    <p>${"@item.Description"}</p>
                                    <a  class="btn btn-light details-button" data-toggle="modal" data-target="#modal-fullscreen-xl" type="button" data-id="${"@item.ID"}">Details</a>
                                </div>
                                <div class="col-xl-6">
                                    <a class="img-button" data-toggle="modal" data-target="#modal-fullscreen-xl" data-id="${"@item.ID"}">
                                        @if (!string.IsNullOrEmpty(image.ImagePath))
                                        {
                                            var path = Url.Content(image.ImagePath.Replace("\\", "/"));
                                            <img class="card-img-top" src="${"@Url.Content(path)"}" alt="Card image cap">
                                        }
                                        @if (!string.IsNullOrEmpty(image.Base64))
                                        {
                                            var base64 = image.Base64;
                                            <img class="card-img-top" src="${"@Url.Content(base64)"}" alt="Card image cap">
                                        }
                                    </a>
                                </div>
                            </div>
                        `
                    ]);
                </text>
            }

            var table = $('#projects-table').DataTable({
                data: dataSet,
                columns: [
                    null
                ],
                searching: true,
                pageLength: 3,
                bLengthChange: false,
                bSort: false,
                "autoWidth": false,
                "pagingType": "full_numbers",
                "drawCallback": function () {
                    
                }
            });

            $('#search-input').keyup(function () {
                table.search($(this).val()).draw();
            })

        });

    </script>

}