@model MyWebSite.Data.Models.Project

@section Styles {
    <link rel="stylesheet" href="~/css/IframeLoader.css" />
    <link rel="stylesheet" href="~/css/ProjectDetails.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
}

<br/>
<br/>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">@Model.Title</h4>
        <br />

        <!-- Show Images -->
        <section>
            <div class="my-container">
                <span onclick="this.parentElement.style.display='none'" class="closebtn" style="color: darkred;">&times;</span>
                <img id="expandedImg" onclick="openImage(this.src)" style="width:100%; height: auto;">
                <div id="imgtext"></div>
                <br />
            </div>
            <div class="row overflow-auto" style="height: 500px;">
                @foreach (var myImg in Model.Images)
                {
                    <div class="column">
                        <img alt="Project"
                             onclick="selectImage(this);"
                             src="@(!String.IsNullOrEmpty(myImg.ImagePath) ? Url.Content(myImg.ImagePath) : @Url.Content(myImg.Base64))" />
                    </div>
                }
            </div>
        </section>

        <br />
    </div>
    <div class="card-body">
        <!-- Description -->
        <h5>Description: </h5>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-11">
                <p class="card-text">@Model.Description</p>
            </div>
        </div>
        <br />
        <!-- Web Site Of The Project -->
        <div class="row" style="display: @(Model.WebPage != null && !Model.WebPage.Equals("") ? "block" : "none");">
            <div class="col-md-12">

                <div class="iframe-container">
                    <div class="loader"></div>
                    <iframe class="iframe" src="@Url.Content(Model.WebPage)" title="@Model.Title"></iframe>
                </div>

            </div>
        </div>
        <br />
        <!-- Download Files Free -->
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-11">
                <div>
                    <a class="btn btn-primary"
                       type="button"
                       href="@Url.Content(Model.DownloadLinkZip)"
                       style="display: @(Model.DownloadLinkZip == null ? "none" : "block")!important; margin-left: 3%;">
                        Download Zip
                    </a>
                    <br />
                    <a class="btn btn-primary"
                       type="button"
                       href="@Url.Content(Model.DownloadLinkTar)"
                       style="display: @(Model.DownloadLinkTar == null ? "none" : "block")!important; margin-left: 3%;">
                        Download Tar
                    </a>
                </div>
            </div>
        </div>
        <br />
        <!-- Price Of The Project -->
        <div class="row" style="display: @(Model.Price == 0.00m ? "none" : null);">
            <div class="col-md-1">
                <h5>Price:</h5>
            </div>
            <div class="col-md-11">
                <span>@(String.Format("{0:0.00}", Model.Price)) &#128;</span>
            </div>
        </div>
        <br />
        <!-- Buy The Project -->
        <div class="row" style="display: @(Model.Price == 0.00m ? "none" : "block");">
            <div class="col-md-12">
                <div id="pay-project" style="width: 100%;">

                    @*<div id="download">

                    </div>*@

                    <script>
                        $("#pay-project").ready(function () {
                            var model = {
                                projectID: @Model.ID,
                                price: @Model.Price
                                                                            }
                            payPayPal(model);
                        });
                    </script>
                    <!-- Payment Container (Here loads payment UI) -->
                    <div class="payment-window" style="width: 50%; margin: 0 auto;">
                    </div>
                    @*<a class="btn btn-primary" type="button" href="#" onclick="payPayPal(@Model.Price);">Buy it</a>*@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/PayPal.js"></script>
    <script src="~/js/IframeLoader.js"></script>
    <script src="~/js/ProjectDetails.js"></script>

    <script>
        function openImage(imageUrl) {
            // _self, _block
            window.open(imageUrl, '_self');
        }

        function selectImage(imgs) {
            var expandImg = document.getElementById("expandedImg");
            var imgText = document.getElementById("imgtext");
            expandImg.src = imgs.src;
            imgText.innerHTML = imgs.alt;
            expandImg.parentElement.style.display = "block";
            window.scrollTo(expandedImg.offsetLeft, expandedImg.offsetTop);
        }
    </script>
}