@model MyWebSite.Data.Models.CV

@section styles{
    <link rel="stylesheet" href="~/css/Resume.css" />
}

<br />

@if (@Model != null) {
    var path = @Url.Content(@Model.CVPath) + "#toolbar=1&navpanes=0&scrollbar=0&view=FitH";
    <iframe src="@path" type="application/pdf" class="pdf"></iframe>
} else {
    <h3 class="text-danger">No Active CV Found.</h3>
}

@section Scripts{
    <script src="~/js/Resume.js"></script>
}

@*
    <object data="@path" type="application/pdf" class="pdf">
        <p>
            Your web browser doesn't have a PDF plugin.
            Instead you can <a href="@path">
                click here to
                download the PDF file.
            </a>
        </p>
    </object>
*@