@model MyWebSite.Data.ViewModels.ProjectViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />

    <div class="row">
        <div class="col-lg-5">
            <dl class="row">
                <dt class="col-lg-3">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-lg-9">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-lg-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-lg-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-lg-3">
                    @Html.DisplayNameFor(model => model.DownloadLink)
                </dt>
                <dd class="col-lg-9">
                    @Html.DisplayFor(model => model.DownloadLink)
                </dd>
                <dt class="col-lg-3">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-lg-9">
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>
            <div style="margin-bottom: 3%;">
                <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="row">
                @foreach (var img in Model.Images)
                {
                    <div class="col-lg-4" style="margin-bottom: 3%;">
                        <img class="edit-pro-image" alt="Project Image" src="@Url.Content(img.ImagePath)" style="width: 100%; min-width: 100px;" />
                    </div>
                }
            </div>
        </div>
    </div>

    
</div>




