@model IEnumerable<MyWebSite.Data.Models.Project>

@{
    ViewData["Title"] = "Index";
}






@section styles {
    <link rel="stylesheet" href="~/lib/DataTables/DataTables-1.11.4/css/dataTables.dataTables.min.css" />
}










<h2>Projects</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>








<div style="margin-top: 5%;">
    <table id="projects-table" width="100%" class="row-border display"></table>
</div>












@section Scripts{

    <script src="~/lib/DataTables/DataTables-1.11.4/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/DataTables/DataTables-1.11.4/js/jquery.dataTables.min.js"></script>

    <script>


        $(document).ready(function () {

            var dataSet = [];
            @foreach (var item in Model)
            {
                @:dataItem = [];
                @:dataItem.push("@item.ID");
                @:dataItem.push(`<img src="@Url.Content(item.Images.ToList()[0].ImagePath)" width="133"/>`);
                @:dataItem.push("@item.Title");
                @:dataItem.push("@item.Description");
                @:dataItem.push("@item.DownloadLink");
                @:dataItem.push("@item.Price");
                <text>
                    dataItem.push(`
                        <a asp-controller="Projects" asp-action="Edit" asp-route-id="@item.ID">Edit</a> | 
                        <a asp-controller="Projects" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    `);
                </text>
                @:dataSet.push(dataItem);
            }


            var table = $('#projects-table').DataTable({
                data: dataSet,
                columns: [
                    { title: "ID" },
                    { title: "Cover" },
                    { title: "Title" },
                    { title: "Description" },
                    { title: "Download Link" },
                    { title: "Price" },
                    null
                ],
                "pagingType": "full_numbers"
            });


            $('#projects-table').on('click', 'tbody td', function () {
                var dataTable = $('#projects-table').dataTable();
                var tr = $(this).closest('tr');
                var index = dataTable.fnGetPosition(tr[0]);
                var id = dataTable.fnGetData(index)[0];
                window.location.href = '/Admin/Projects/Details/' + id;
            })

        });

    </script>

}