@model MyWebSite.Data.Models.ContactData


<style>
    .fa-facebook {
        color: #0078FF;
    }
    .fa-instagram {
        color: #B900FF;
    }
    .fa-linkedin {
        color: #1DE7FF;
    }
    .social:hover {
        opacity: 0.4 !important;
    }
    .footer {
        min-width: 541px;
        text-align: center;
        padding: 11px;
    }
</style>


<footer class="footer">
    <div class="container" style="margin: 0 auto;">
        <div class="row">
            <div class="col-lg-3">
                <strong>Phone</strong><br />
                <i>@Model.Phone</i>
            </div>
            <div class="col-lg-3">
                <strong>Email</strong><br />
                <i>@Model.Email</i>
            </div>
            <div class="col-lg-3">
                <strong>Follow Me</strong><br />
                <a href="@Url.Content(Model.FacebookLink)" target="_black"><i class="fab fa-facebook fa-2x social"></i></a>
                <a href="@Url.Content(Model.InstagramLink)" target="_black"><i class="fab fa-instagram fa-2x social"></i></a>
                <a href="@Url.Content(Model.LinkedLin)" target="_black"><i class="fab fa-linkedin fa-2x social"></i></a>
            </div>
            <div class="col-lg-3">
                <div style="margin-top: 11%;">
                    &copy; @DateTime.Now.ToString().Split(" ")[0].Split("/")[2] - @Model.FullName
                </div>
            </div>
        </div>
    </div>
</footer>