@model IEnumerable<MyWebSite.Data.ViewModels.ImageViewModel>

@{
    ViewData["Title"] = "Index";
}



@section styles {
    <link rel="stylesheet" href="~/lib/DataTables/DataTables-1.11.4/css/dataTables.dataTables.min.css" />
}





<h2>Images</h2>


<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="table-responsive" style="margin-top: 5%;">
    <table id="images-table" width="100%" class="row-border display"></table>
    <br />
    <br />
</div>




@section Scripts{

    <script src="~/lib/DataTables/DataTables-1.11.4/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/DataTables/DataTables-1.11.4/js/jquery.dataTables.min.js"></script>

    <script>


        $(document).ready(function () {

            var dataSet = [];
            @foreach (var item in Model)
            {
                @:dataItem = [];
                @:dataItem.push("@item.ID");
                @:dataItem.push(`<img src="@Url.Content(item.ImagePath)" width="133"/>`);
                @:dataItem.push("@item.Project.Title");
                <text>
                    dataItem.push(`
                        <a asp-controller="Images" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-controller="Images" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    `);
                </text>
                @:dataSet.push(dataItem);
            }


            var table = $('#images-table').DataTable({
                data: dataSet,
                columns: [
                    { title: "ID" },
                    { title: "Image Path" },
                    { title: "Project Title" },
                    null
                ],
                "pagingType": "full_numbers"
            });


            $('#images-table').on('click', 'tbody td', function () {
                var dataTable = $('#images-table').dataTable();
                var tr = $(this).closest('tr');
                var index = dataTable.fnGetPosition(tr[0]);
                var id = dataTable.fnGetData(index)[0];
                window.location.href = '/Admin/Images/Details/' + id;
            })

        });

    </script>

}