@model IEnumerable<MyWebSite.Data.ViewModels.ImageViewModel>

@{
    ViewData["Title"] = "Index";
}



@section styles {

}





<h2>Images</h2>


<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="table-responsive" style="margin-top: 5%;">
    <table id="images-table" width="100%" class="display" cellspacing="0"></table>
    <br />
    <br />
</div>




@section Scripts{


    <script>


        $(document).ready(function () {

            var dataSet = [];
            @foreach (var item in Model)
            {
                @:dataItem = [];
                @:dataItem.push("@item.ID");
                @:dataItem.push(`<img src="@Url.Content(item.ImagePath)" width="133"/>`);
                @:dataItem.push("@item.Project.Title");
                @:dataItem.push("@item.CreatedDate");
                @:dataItem.push("@item.LastUpdateDate");
                <text>
                    dataItem.push(`
                        <a asp-controller="Images" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-controller="Images" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    `);
                </text>
                @:dataSet.push(dataItem);
            }


            $('#images-table').DataTable({
                data: dataSet,
                columns: [
                    { title: "ID" },
                    { title: "Image Path" },
                    { title: "Project Title" },
                    { title: "CreatedDate" },
                    { title: "LastUpdateDate" },
                    null
                ],
                "pagingType": "full_numbers",
                scrollY: true,
                scrollX: true,
                "pageLength": 5,
                "lengthMenu": [[5, 10, 20, 50, 100, -1], [5, 10, 20, 50, 100, "All"]],
                "order": [0, 'asc'],
                "stateSave": true,
                //colReorder: {
                //    realtime: false
                //},
                initComplete: function (settings) {
                    $('#images-table').on('click', 'tbody td', function () {
                        var dataTable = $('#images-table').dataTable();
                        var tr = $(this).closest('tr');
                        var index = dataTable.fnGetPosition(tr[0]);
                        var id = dataTable.fnGetData(index)[0];
                        window.location.href = '/Admin/Images/Details/' + id;
                    })
                }
            });




        });

    </script>

}