@model IEnumerable<MyWebSite.Data.Models.CV>



@{
    ViewData["Title"] = "Index";
}

<h2>CVs</h2>

<p>
    <a asp-controller="Cvs" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-controller="Cvs" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-controller="Cvs" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-controller="Cvs" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
