@model IEnumerable<MyWebSite.Data.Models.CV>



@{
    ViewData["Title"] = "Index";
}



@section styles {
    <link rel="stylesheet" href="~/lib/DataTables/DataTables-1.11.4/css/dataTables.dataTables.min.css" />
}





<h2>CVs</h2>

<p>
    <a asp-controller="Cvs" asp-action="Create">Create New</a>
</p>


<div style="margin-top: 5%;">
    <table id="cvs-table" width="100%" class="row-border display"></table>
</div>



@section Scripts{

    <script src="~/lib/DataTables/DataTables-1.11.4/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/DataTables/DataTables-1.11.4/js/jquery.dataTables.min.js"></script>

    <script>


        $(document).ready(function () {

            var dataSet = [];
            var dataItem = [];

            @foreach (var item in Model)
            {
                @:dataItem = [];
                @:dataItem.push("@item.ID");
                @:dataItem.push("@item.IsActive");
                @:dataItem.push("@item.Path");
                @:dataItem.push("@item.Description");
                <text>
                    dataItem.push(`
                        <a asp-controller="Cvs" asp-action="Edit" asp-route-id="@item.ID">Edit</a> | 
                        <a asp-controller="Cvs" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    `);
                </text>
                @:dataSet.push(dataItem);
            }


            var table = $('#cvs-table').DataTable({
                data: dataSet,
                columns: [
                    { title: "ID" },
                    { title: "IsActive" },
                    { title: "Path" },
                    { title: "Description" },
                    null
                ],
                "pagingType": "full_numbers"
            });


            $('#cvs-table').on('click', 'tbody td', function () {
                var dataTable = $('#cvs-table').dataTable();
                var tr = $(this).closest('tr');
                var index = dataTable.fnGetPosition(tr[0]);
                var id = dataTable.fnGetData(index)[0];
                window.location.href = '/Admin/CVs/Details/' + id;
            })

        });

    </script>

}