@model IEnumerable<MyWebSite.Areas.Identity.Data.MyWebSiteUser>

@{
    ViewData["Title"] = "Index";
}

@section styles {

}

<h1>Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="table-responsive" style="margin-top: 5%;">
    <table id="users-table" width="100%" class="display" cellspacing="0"></table>
    <br />
    <br />
</div>



@section Scripts{

    <script>


        $(document).ready(function () {

            var dataSet = [];
            var dataItem = [];

            @foreach (var item in Model)
            {
                @:dataItem = [];
                @:dataItem.push("@item.Id");
                @:dataItem.push("@item.Email");
                @:dataItem.push("@item.UserName");
                @:dataItem.push("@item.PhoneNumber");
                <text>
                    dataItem.push(`
                        <a asp-controller="MyWebSiteUsers" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="MyWebSiteUsers" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    `);
                </text>
                @:dataSet.push(dataItem);
            }


            $('#users-table').DataTable({
                data: dataSet,
                columns: [
                    { title: "ID" },
                    { title: "Email" },
                    { title: "UserName" },
                    { title: "Phone" },
                    null
                ],
                "pagingType": "full_numbers",
                scrollY: true,
                scrollX: true,
                "pageLength": 5,
                "lengthMenu": [[5, 10, 20, 50, 100, -1], [5, 10, 20, 50, 100, "All"]],
                "stateSave": true,
                "order": [0, 'asc'],
                //colReorder: {
                //    realtime: false
                //},
                initComplete: function (settings) {
                    $('#users-table').on('click', 'tbody td', function () {
                        var dataTable = $('#users-table').dataTable();
                        var tr = $(this).closest('tr');
                        var index = dataTable.fnGetPosition(tr[0]);
                        var id = dataTable.fnGetData(index)[0];
                        window.location.href = '/Admin/MyWebSiteUsers/Details/' + id;
                    })
                }
            });


            

        });

    </script>

}