@model IEnumerable<MyWebSite.Data.ViewModels.MessageViewModel>

@{
    ViewData["Title"] = "Index";
}

@section styles {
    <style>

    </style>
}
<h2>Messages</h2>

<div class="row">
    <a asp-action="Create">Create New</a>
    <a asp-action="DeleteAll">DeleteAll</a>
</div>

<div class="table-responsive" style="margin-top: 5%;">
    <table id="messages-table" width="100%" class="display" cellspacing="0"></table>
    <br />
    <br />
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var dataSet = [];
            @foreach (var item in Model)
            {
                @:dataItem = [];
                @:dataItem.push("@item.ID");
                @:dataItem.push("@item.FirstName");
                @:dataItem.push("@item.LastName");
                @:dataItem.push("@item.Email");
                @:dataItem.push("@item.Subject");
                //@:dataItem.push("@item.MyMessage");
                @:dataItem.push("@item.CreatedDate");
                @:dataItem.push("@item.LastUpdateDate");
                <text>
                    dataItem.push(`
                        <a asp-controller="Messages" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-controller="Messages" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    `);
                </text>
                @:dataSet.push(dataItem);
            }
            $('#messages-table').DataTable({
                data: dataSet,
                columns: [
                    { title: "ID" },
                    { title: "First Name" },
                    { title: "Last Name" },
                    { title: "Email" },
                    { title: "Subject" },
                    //{ title: "Message" },
                    { title: "CreatedDate" },
                    { title: "LastUpdateDate" },
                    null
                ],
                "pagingType": "full_numbers",
                scrollY: '50vh',
                scrollX: true,
                "pageLength": 5,
                "lengthMenu": [[5, 10, 20, 50, 100, -1], [5, 10, 20, 50, 100, "All"]],
                "order": [0, 'asc'],
                "stateSave": true,
                //colReorder: {
                //    realtime: false
                //},
                initComplete: function (settings) {
                    $('#messages-table').on('click', 'tbody td', function () {
                        var dataTable = $('#messages-table').dataTable();
                        var tr = $(this).closest('tr');
                        var index = dataTable.fnGetPosition(tr[0]);
                        var id = dataTable.fnGetData(index)[0];
                        window.location.href = '/Admin/Messages/Details/' + id;
                    })
                }
            });
        });
    </script>
}