@model IEnumerable<MyWebSite.Data.Models.ContactData>

@{
    ViewData["Title"] = "Index";
}




@section styles {
    
}



<h1>Contact Data Profiles</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>




<div class="table-responsive" style="margin-top: 1%;">
    <table id="contact-data-table" width="100%" class="display" cellspacing="0"></table>
    <br />
    <br />
</div>








@section Scripts{
    <script>


        $(document).ready(function () {

            var dataSet = [];
            var dataItem = [];

            @foreach (var item in Model)
            {
                @:dataItem = [];
                @:dataItem.push("@item.ID");
                @:dataItem.push("@item.Title");
                @:dataItem.push("<p>@item.SubTitle.Substring(0, 11)</p>");
                @:dataItem.push("@item.Address");
                @:dataItem.push("@item.Phone");
                @:dataItem.push("@item.Email");
                @:dataItem.push("@item.IsActive");
                @:dataItem.push("@item.CreatedDate");
                @:dataItem.push("@item.LastUpdateDate");
                <text>
                    dataItem.push(`
                        <a asp-controller="ContactData" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-controller="ContactData" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    `);
                </text>
                @:dataSet.push(dataItem);
            }


            $('#contact-data-table').DataTable({
                data: dataSet,
                columns: [
                    { title: "ID" },
                    { title: "Title" },
                    { title: "SubTitle" },
                    { title: "Address" },
                    { title: "Phone" },
                    { title: "Email" },
                    { title: "IsActive" },
                    { title: "CreatedDate" },
                    { title: "LastUpdateDate" },
                    null
                ],
                "pagingType": "full_numbers",
                scrollY: true,
                scrollX: true,
                "pageLength": 5,
                "lengthMenu": [[5, 10, 20, 50, 100, -1], [5, 10, 20, 50, 100, "All"]],
                "order": [0, 'asc'],
                "stateSave": true,
                //colReorder: {
                //    realtime: false
                //},
                initComplete: function (settings) {
                    $('#contact-data-table').on('click', 'tbody td', function () {
                        var dataTable = $('#contact-data-table').dataTable();
                        var tr = $(this).closest('tr');
                        var index = dataTable.fnGetPosition(tr[0]);
                        var id = dataTable.fnGetData(index)[0];
                        window.location.href = '/Admin/ContactData/Details/' + id;
                    })
                }
            });





        });

    </script>

}